@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

img {
    max-width: 100%;
}
.container {
    width: 100%;
    margin-top: 6em;
    padding: 1em;
}

.title {
    margin-top: 1em;
    color: hsl(234, 29%, 20%);
    font-weight: 900;
    font-size: 2.5em;
}

.btn {
    display: inline-block;
    margin-top: 15em;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 1.1em 1em;
    background: hsl(234, 29%, 20%);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}