@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

img {
    max-width: 100%;
}
.container {
    width: 100%;
    margin-top: 6em;
    padding: 1em;
    max-width: 500px;
}

.title {
    margin-top: 1em;
    color: hsl(234, 29%, 20%);
    font-weight: 900;
    font-size: 2.5em;
}

.thankyou-msg {
    margin-top: 2em;
    line-height: 1.2;
    color: hsl(234, 29%, 20%);
    font-size: 0.9rem;
    font-weight: 400;
}



.btn {
    display: inline-block;
    margin-top: 15em;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    padding: 1.1em 1em;
    background: hsl(234, 29%, 20%);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

@media (min-width: 420px) {
    body {
        background:hsl(234, 29%, 20%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        background:hsl(0, 0%, 100%);
        max-width: 400px;
        padding: 2em 2.5em 2em 2.5em;
        border-radius: 20px;
    }
    .container > * {
        margin: .5em 0 .5em;
    }
    .btn:hover {
        background: hsl(4, 100%, 67%);
    }
}